function Board.new 1
    push constant 4
    call Memory.alloc 1
    pop pointer 0
    push argument 1
    pop this 3
    push this 3
    call Array.new 1
    pop this 0
    push this 3
    call Array.new 1
    pop this 1
    push this 3
    call Array.new 1
    pop this 2
    push constant 0
    pop local 0
label Board_0
    push local 0
    push this 3
    lt
    not
    if-goto Board_1
    push local 0
    push this 0
    add
    push local 0
    push constant 2
    call Math.divide 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 0
    push this 1
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 0
    push this 2
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Board_0
label Board_1
    push pointer 0
    push argument 0
    call Board.shuffle 2
    pop temp 0
    push pointer 0
    return
function Board.shuffle 3
    push argument 0
    pop pointer 0
    push this 3
    push constant 1
    sub
    pop local 0
label Board_2
    push local 0
    push constant 0
    gt
    not
    if-goto Board_3
    push argument 1
    push argument 1
    push local 0
    push constant 1
    add
    call Math.divide 2
    push local 0
    push constant 1
    add
    call Math.multiply 2
    sub
    pop local 1
    push local 0
    push this 0
    add
    pop pointer 1
    push that 0
    pop local 2
    push local 0
    push this 0
    add
    push local 1
    push this 0
    add
    pop pointer 1
    push that 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 1
    push this 0
    add
    push local 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push argument 1
    push constant 31
    call Math.multiply 2
    push constant 7
    add
    pop argument 1
    push argument 1
    push constant 0
    lt
    not
    if-goto Board_5
    push constant 0
    push argument 1
    sub
    pop argument 1
    goto Board_4
label Board_5
label Board_4
    push local 0
    push constant 1
    sub
    pop local 0
    goto Board_2
label Board_3
    push constant 0
    return
function Board.draw 5
    push argument 0
    pop pointer 0
    push constant 8
    push constant 2
    call Output.moveCursor 2
    pop temp 0
    push constant 32
    call String.new 1
    push constant 66
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 40
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 120
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 41
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 72
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 61
    call String.appendChar 2
    push constant 39
    call String.appendChar 2
    push constant 42
    call String.appendChar 2
    push constant 39
    call String.appendChar 2
    pop local 4
    push local 4
    call Output.printString 1
    pop temp 0
    push local 4
    call String.dispose 1
    pop temp 0
    push constant 0
    pop local 0
    push this 3
    push constant 3
    add
    push constant 4
    call Math.divide 2
    pop local 3
label Board_6
    push local 0
    push local 3
    lt
    not
    if-goto Board_7
    push constant 10
    push local 0
    push constant 2
    call Math.multiply 2
    add
    push constant 2
    call Output.moveCursor 2
    pop temp 0
    push constant 0
    pop local 1
label Board_8
    push local 1
    push constant 4
    lt
    not
    if-goto Board_9
    push local 0
    push constant 4
    call Math.multiply 2
    push local 1
    add
    pop local 2
    push local 2
    push this 3
    lt
    not
    if-goto Board_11
    push local 2
    push this 2
    add
    pop pointer 1
    push that 0
    not
    if-goto Board_13
    push constant 32
    call Output.printChar 1
    pop temp 0
    push constant 32
    call Output.printChar 1
    pop temp 0
    push constant 32
    call Output.printChar 1
    pop temp 0
    push constant 32
    call Output.printChar 1
    pop temp 0
    push constant 32
    call Output.printChar 1
    pop temp 0
    push constant 32
    call Output.printChar 1
    pop temp 0
    push constant 32
    call Output.printChar 1
    pop temp 0
    goto Board_12
label Board_13
    push local 2
    push constant 10
    lt
    not
    if-goto Board_15
    push constant 32
    call Output.printChar 1
    pop temp 0
    push local 2
    call Output.printInt 1
    pop temp 0
    goto Board_14
label Board_15
    push local 2
    call Output.printInt 1
    pop temp 0
label Board_14
    push constant 58
    call Output.printChar 1
    pop temp 0
    push local 2
    push this 1
    add
    pop pointer 1
    push that 0
    not
    if-goto Board_17
    push local 2
    push this 0
    add
    pop pointer 1
    push that 0
    push constant 65
    add
    call Output.printChar 1
    pop temp 0
    goto Board_16
label Board_17
    push constant 42
    call Output.printChar 1
    pop temp 0
label Board_16
    push constant 32
    call Output.printChar 1
    pop temp 0
    push constant 32
    call Output.printChar 1
    pop temp 0
    push constant 32
    call Output.printChar 1
    pop temp 0
label Board_12
    goto Board_10
label Board_11
label Board_10
    push local 1
    push constant 1
    add
    pop local 1
    goto Board_8
label Board_9
    push local 0
    push constant 1
    add
    pop local 0
    goto Board_6
label Board_7
    push constant 0
    return
function Board.reveal 0
    push argument 0
    pop pointer 0
    push argument 1
    push this 1
    add
    push constant 1
    neg
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    return
function Board.hideIfNotMatched 0
    push argument 0
    pop pointer 0
    push argument 1
    push this 2
    add
    pop pointer 1
    push that 0
    not
    not
    if-goto Board_19
    push argument 1
    push this 1
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Board_18
label Board_19
label Board_18
    push constant 0
    return
function Board.setMatched 0
    push argument 0
    pop pointer 0
    push argument 1
    push this 2
    add
    push constant 1
    neg
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push argument 1
    push this 1
    add
    push constant 1
    neg
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 0
    return
function Board.getValue 0
    push argument 0
    pop pointer 0
    push argument 1
    push this 0
    add
    pop pointer 1
    push that 0
    return
function Board.isRevealed 0
    push argument 0
    pop pointer 0
    push argument 1
    push this 1
    add
    pop pointer 1
    push that 0
    return
function Board.isMatched 0
    push argument 0
    pop pointer 0
    push argument 1
    push this 2
    add
    pop pointer 1
    push that 0
    return
function Board.finished 1
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label Board_20
    push local 0
    push this 3
    lt
    not
    if-goto Board_21
    push local 0
    push this 2
    add
    pop pointer 1
    push that 0
    not
    not
    if-goto Board_23
    push constant 0
    return
    goto Board_22
label Board_23
label Board_22
    push local 0
    push constant 1
    add
    pop local 0
    goto Board_20
label Board_21
    push constant 1
    neg
    return
function Board.getSize 0
    push argument 0
    pop pointer 0
    push this 3
    return
function Board.dispose 0
    push argument 0
    pop pointer 0
    push this 0
    call Array.dispose 1
    pop temp 0
    push this 1
    call Array.dispose 1
    pop temp 0
    push this 2
    call Array.dispose 1
    pop temp 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return