function Computer.new 1
    push constant 3
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push this 0
    call Board.getSize 1
    call Array.new 1
    pop this 2
    push constant 0
    pop local 0
label Computer_0
    push local 0
    push this 0
    call Board.getSize 1
    lt
    not
    if-goto Computer_1
    push local 0
    push this 2
    add
    push constant 1
    neg
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Computer_0
label Computer_1
    push pointer 0
    return
function Computer.rand 0
    push argument 0
    pop pointer 0
    push this 1
    push constant 23
    call Math.multiply 2
    push constant 7
    add
    pop this 1
    push this 1
    push constant 0
    lt
    not
    if-goto Computer_3
    push this 1
    neg
    pop this 1
    goto Computer_2
label Computer_3
label Computer_2
    push this 1
    return
function Computer.see 0
    push argument 0
    pop pointer 0
    push argument 1
    push constant 1
    neg
    gt
    push argument 1
    push this 0
    call Board.getSize 1
    lt
    and
    not
    if-goto Computer_5
    push argument 1
    push this 2
    add
    push this 0
    push argument 1
    call Board.getValue 2
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Computer_4
label Computer_5
label Computer_4
    push constant 0
    return
function Computer.playTurn 6
    push argument 0
    pop pointer 0
    push constant 0
    pop local 5
    push pointer 0
    call Computer.findKnownPair1 1
    pop local 0
    push local 0
    push constant 1
    neg
    gt
    not
    if-goto Computer_7
    push pointer 0
    push local 0
    call Computer.findMatchInMem 2
    pop local 1
    push local 1
    push constant 1
    neg
    gt
    not
    if-goto Computer_9
    push constant 1
    neg
    pop local 5
    goto Computer_8
label Computer_9
label Computer_8
    goto Computer_6
label Computer_7
label Computer_6
    push local 5
    not
    if-goto Computer_11
    push this 0
    push local 0
    call Board.reveal 2
    pop temp 0
    push this 0
    call Board.draw 1
    pop temp 0
    push constant 300
    call Sys.wait 1
    pop temp 0
    push this 0
    push local 1
    call Board.reveal 2
    pop temp 0
    push this 0
    call Board.draw 1
    pop temp 0
    push constant 300
    call Sys.wait 1
    pop temp 0
    goto Computer_10
label Computer_11
    push pointer 0
    call Computer.pickValidIndex 1
    pop local 0
    push this 0
    push local 0
    call Board.reveal 2
    pop temp 0
    push pointer 0
    push local 0
    call Computer.see 2
    pop temp 0
    push this 0
    call Board.draw 1
    pop temp 0
    push constant 300
    call Sys.wait 1
    pop temp 0
    push pointer 0
    push local 0
    call Computer.findMatchInMem 2
    pop local 4
    push local 4
    push constant 1
    neg
    gt
    not
    if-goto Computer_13
    push local 4
    pop local 1
    goto Computer_12
label Computer_13
    push pointer 0
    push local 0
    call Computer.pickValidIndexDifferent 2
    pop local 1
label Computer_12
    push this 0
    push local 1
    call Board.reveal 2
    pop temp 0
    push pointer 0
    push local 1
    call Computer.see 2
    pop temp 0
    push this 0
    call Board.draw 1
    pop temp 0
    push constant 300
    call Sys.wait 1
    pop temp 0
label Computer_10
    push this 0
    push local 0
    call Board.getValue 2
    pop local 2
    push this 0
    push local 1
    call Board.getValue 2
    pop local 3
    push local 2
    push local 3
    eq
    not
    if-goto Computer_15
    push this 0
    push local 0
    call Board.setMatched 2
    pop temp 0
    push this 0
    push local 1
    call Board.setMatched 2
    pop temp 0
    push constant 1
    neg
    return
    goto Computer_14
label Computer_15
label Computer_14
    push constant 500
    call Sys.wait 1
    pop temp 0
    push this 0
    push local 0
    call Board.hideIfNotMatched 2
    pop temp 0
    push this 0
    push local 1
    call Board.hideIfNotMatched 2
    pop temp 0
    push this 0
    call Board.draw 1
    pop temp 0
    push constant 0
    return
function Computer.findKnownPair1 2
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label Computer_16
    push local 0
    push this 0
    call Board.getSize 1
    lt
    not
    if-goto Computer_17
    push local 0
    push this 2
    add
    pop pointer 1
    push that 0
    push constant 1
    neg
    gt
    push this 0
    push local 0
    call Board.isMatched 2
    not
    and
    not
    if-goto Computer_19
    push local 0
    push constant 1
    add
    pop local 1
label Computer_20
    push local 1
    push this 0
    call Board.getSize 1
    lt
    not
    if-goto Computer_21
    push local 1
    push this 2
    add
    pop pointer 1
    push that 0
    push local 0
    push this 2
    add
    pop pointer 1
    push that 0
    eq
    push this 0
    push local 1
    call Board.isMatched 2
    not
    and
    not
    if-goto Computer_23
    push local 0
    return
    goto Computer_22
label Computer_23
label Computer_22
    push local 1
    push constant 1
    add
    pop local 1
    goto Computer_20
label Computer_21
    goto Computer_18
label Computer_19
label Computer_18
    push local 0
    push constant 1
    add
    pop local 0
    goto Computer_16
label Computer_17
    push constant 1
    neg
    return
function Computer.findMatchInMem 2
    push argument 0
    pop pointer 0
    push argument 1
    push this 2
    add
    pop pointer 1
    push that 0
    push constant 1
    neg
    eq
    not
    if-goto Computer_25
    push constant 1
    neg
    return
    goto Computer_24
label Computer_25
label Computer_24
    push argument 1
    push this 2
    add
    pop pointer 1
    push that 0
    pop local 0
    push constant 0
    pop local 1
label Computer_26
    push local 1
    push this 0
    call Board.getSize 1
    lt
    not
    if-goto Computer_27
    push local 1
    push argument 1
    eq
    not
    push local 1
    push this 2
    add
    pop pointer 1
    push that 0
    push local 0
    eq
    and
    push this 0
    push local 1
    call Board.isMatched 2
    not
    and
    not
    if-goto Computer_29
    push local 1
    return
    goto Computer_28
label Computer_29
label Computer_28
    push local 1
    push constant 1
    add
    pop local 1
    goto Computer_26
label Computer_27
    push constant 1
    neg
    return
function Computer.pickValidIndex 4
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
    push constant 0
    pop local 1
label Computer_30
    push local 1
    push this 0
    call Board.getSize 1
    lt
    not
    if-goto Computer_31
    push this 0
    push local 1
    call Board.isMatched 2
    not
    push this 0
    push local 1
    call Board.isRevealed 2
    not
    and
    not
    if-goto Computer_33
    push local 0
    push constant 1
    add
    pop local 0
    goto Computer_32
label Computer_33
label Computer_32
    push local 1
    push constant 1
    add
    pop local 1
    goto Computer_30
label Computer_31
    push local 0
    push constant 0
    eq
    not
    if-goto Computer_35
    push constant 0
    return
    goto Computer_34
label Computer_35
label Computer_34
    push pointer 0
    call Computer.rand 1
    pop local 2
    push local 2
    push local 0
    push local 2
    push local 0
    call Math.divide 2
    call Math.multiply 2
    sub
    pop local 3
    push constant 0
    pop local 1
label Computer_36
    push local 1
    push this 0
    call Board.getSize 1
    lt
    not
    if-goto Computer_37
    push this 0
    push local 1
    call Board.isMatched 2
    not
    push this 0
    push local 1
    call Board.isRevealed 2
    not
    and
    not
    if-goto Computer_39
    push local 3
    push constant 0
    eq
    not
    if-goto Computer_41
    push local 1
    return
    goto Computer_40
label Computer_41
label Computer_40
    push local 3
    push constant 1
    sub
    pop local 3
    goto Computer_38
label Computer_39
label Computer_38
    push local 1
    push constant 1
    add
    pop local 1
    goto Computer_36
label Computer_37
    push constant 0
    return
function Computer.pickValidIndexDifferent 4
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
    push constant 0
    pop local 1
label Computer_42
    push local 1
    push this 0
    call Board.getSize 1
    lt
    not
    if-goto Computer_43
    push local 1
    push argument 1
    eq
    not
    push this 0
    push local 1
    call Board.isMatched 2
    not
    and
    push this 0
    push local 1
    call Board.isRevealed 2
    not
    and
    not
    if-goto Computer_45
    push local 0
    push constant 1
    add
    pop local 0
    goto Computer_44
label Computer_45
label Computer_44
    push local 1
    push constant 1
    add
    pop local 1
    goto Computer_42
label Computer_43
    push local 0
    push constant 0
    eq
    not
    if-goto Computer_47
    push constant 0
    return
    goto Computer_46
label Computer_47
label Computer_46
    push pointer 0
    call Computer.rand 1
    pop local 2
    push local 2
    push local 0
    push local 2
    push local 0
    call Math.divide 2
    call Math.multiply 2
    sub
    pop local 3
    push constant 0
    pop local 1
label Computer_48
    push local 1
    push this 0
    call Board.getSize 1
    lt
    not
    if-goto Computer_49
    push local 1
    push argument 1
    eq
    not
    push this 0
    push local 1
    call Board.isMatched 2
    not
    and
    push this 0
    push local 1
    call Board.isRevealed 2
    not
    and
    not
    if-goto Computer_51
    push local 3
    push constant 0
    eq
    not
    if-goto Computer_53
    push local 1
    return
    goto Computer_52
label Computer_53
label Computer_52
    push local 3
    push constant 1
    sub
    pop local 3
    goto Computer_50
label Computer_51
label Computer_50
    push local 1
    push constant 1
    add
    pop local 1
    goto Computer_48
label Computer_49
    push constant 0
    return
function Computer.dispose 0
    push argument 0
    pop pointer 0
    push this 2
    call Array.dispose 1
    pop temp 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return